In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [ ]:
df = pd.read_csv('C:/Users/Admin/Desktop/Miniproject/Data/main_movies.csv')

In [ ]:
df = df.drop(columns='Crew')

In [ ]:
df.shape

(54679, 14)

In [ ]:
# Removing the square brackets from either ends of the string
df['Cast'] = df['Cast'].str.strip('[]')
df['Runtime'] = df['Runtime'].str.strip('[]')
df['Vote_count'] = df['Vote_count'].str.strip('[]')
df['Vote_avg'] = df['Vote_avg'].str.strip('[]')
df['Director'] = df['Director'].str.strip('[]')
df['Screenplay'] = df['Screenplay'].str.strip('[]')
df['Original_score'] = df['Original_score'].str.strip('[]')
df['Cinematography'] = df['Cinematography'].str.strip('[]')
df['Keywords'] = df['Keywords'].str.strip('[]')

In [ ]:
split_values = df['Cast'].str.split(',', expand = True)

In [ ]:
df['actor1'] = split_values[0]
df['actor2'] = split_values[1]
df['actor3'] = split_values[2]
df['actor4'] = split_values[3]
df['actor5'] = split_values[4]

In [ ]:
df = df.drop(columns='Cast')

In [ ]:
df.replace('\'','', regex=True, inplace=True)

In [ ]:
df['Year'] = df['Year'].str.replace(' ','')

In [ ]:
df.head()

   tmdbId  ...           actor5
0     862  ...    Wallace Shawn
1    8844  ...      Bonnie Hunt
2   15602  ...     Daryl Hannah
3   31357  ...    Gregory Hines
4   11862  ...   George Newbern

[5 rows x 18 columns]

In [ ]:
df['Keywords'] = df['Keywords'].str.replace(' ','')

In [ ]:
df['Keywords'] = df['Keywords'].str.replace(',',' ')

In [ ]:
df['Year'] = df['Year'].apply(lambda x: pd.to_numeric(x, errors='coerce'))

In [ ]:
df.shape

(54679, 18)

In [ ]:
df = df.dropna(subset=['Year'])

In [ ]:
df['Year'] = df['Year'].astype(int)

In [ ]:
df.Year.unique()

array([1995, 1994, 1996, 1976, 1992, 1988, 1967, 1993, 1964, 1977, 1965,
       1982, 1985, 1990, 1991, 1989, 1937, 1940, 1969, 1981, 1973, 1970,
       1960, 1955, 1959, 1968, 1980, 1975, 1986, 1948, 1943, 1950, 1987,
       1997, 1974, 1956, 1958, 1949, 1972, 1998, 1933, 1952, 1951, 1957,
       1961, 1954, 1934, 1944, 1963, 1942, 1941, 1953, 1939, 1947, 1946,
       1945, 1938, 1935, 1936, 1926, 1932, 1979, 1971, 1978, 1966, 1962,
       1983, 1984, 1931, 1922, 1999, 1927, 1929, 1930, 1928, 1925, 2000,
       1919, 1923, 1920, 1918, 1921, 2001, 1924, 2002, 2003, 1915, 2004,
       1916, 1917, 2005, 2006, 1902, 1903, 2007, 2008, 2009, 1914, 1912,
       2010, 1913, 2011, 1898, 1899, 1894, 2012, 1910, 1901, 2013, 1896,
       2014, 2015, 1895, 1909, 1911, 1900, 2016, 2017, 2018, 1905, 1904,
       1892, 1908, 1891, 1907, 1906, 1897])

In [ ]:
df.head()

   tmdbId  ...           actor5
0     862  ...    Wallace Shawn
1    8844  ...      Bonnie Hunt
2   15602  ...     Daryl Hannah
3   31357  ...    Gregory Hines
4   11862  ...   George Newbern

[5 rows x 18 columns]

In [ ]:
df.isna().sum()

tmdbId                0
Title                 0
Year                  0
Genres                0
Language              0
Runtime            1011
Vote_count         1506
Vote_avg           1512
Director            391
Screenplay        34036
Original_score    34105
Cinematography    25538
Keywords              0
actor1             1822
actor2             3339
actor3             4261
actor4             5221
actor5             7119
dtype: int64

In [ ]:
df['Title'] = df['Title'].str.replace('.','')

In [ ]:
final_df = df.drop(columns=['Screenplay','Original_score','Cinematography','actor5']).dropna(how='any')

In [ ]:
final_df.shape

(47463, 14)

In [ ]:
final_df['Keywords'] = final_df['Keywords'].replace(np.nan, 'Not Available')

In [ ]:
final_df.to_csv('C:/Users/Admin/Desktop/Miniproject/Data/finalcut_movies.csv', index=False)